.wrap form {
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.wrap form input,
.wrap form textarea {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .2s;
}

.wrap form textarea {
    resize: vertical;
}

.wrap form input:focus,
.wrap form textarea:focus {
    border: 1px solid #c3c3c3;
    outline: none;
}

.wrap form input[type=submit] {
    text-transform: uppercase;
    background-color: rgb(82, 202, 162);
    margin: 20px 0 0;
    cursor: pointer;
}

.wrap form input[type=submit]:hover {
    background-color: rgb(61, 139, 113);
    color: #fff;
}

.error {
    border-color: red!important;
}