.wrap form {
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.wrap form input {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color .2s, background-color .2s;
}

.wrap form input:focus {
    border: 2px solid #c3c3c3;
    outline: none;
}

.wrap form input[type=submit] {
    background-color: rgb(111, 224, 187);
    margin: 20px 0 0;
}
.wrap form input[type=submit]:hover {
    background-color: rgb(80, 165, 136);
}