.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
  margin-top: 0;
}

.main div {
  height: max-content;
}

.block {
  margin: 3%;
  padding: 3%;
  background-color: #fff;
}

/* Colors */
.bg-white {
  background-color: #fff;
}

/* Typography */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

.caption {
  font-size: 20px;
  text-transform: uppercase;
  color: #4d4d4d;
}

/* Padding */
.p-0 {
  padding: 0;
}

/* Margin */
.m-0 {
  margin: 0;
}